<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant Template</title>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script data-require="jquery@*" data-semver="2.1.1"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="handlebars.js@1.3.0" data-semver="1.3.0"
        src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="carouselHandler.js"></script>
    <script src="script.js"></script>
    <style>
        .rowitem img {
            width: 100%;
            height: 200px;
            max-height: 200px;
        }

        .rowitem figure {
            margin: 0 0 33px 0;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .item img {
            width: 100%;
            max-height: 600px;
        }



        .btn-default.btn-red {

            position: relative;
            display: inline-block;
            margin: 0;
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 0;
            background: #69AAFF;
        }

        .thumbnail {
            padding: 0;

        }

        .thumbnail .caption {
            min-height: 150px;
            max-height: 150px;
        }

        .thumbnail h4 {
            color: white;
            font-style: bold;
            text-align: center;
        }

        .thumbnail a {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .thumbnail a:hover {
            cursor: pointer;
            background-color: rgb(55, 135, 224);
        }

        .thumbnail a,
        .thumbnail p {
            color: white;
            text-align: center;
            font-size: 1em;
        }
    </style>
</head>

<body class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menuCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="menuCollapse">
                <ul class="nav navbar-nav" id="menuNavigation">
                    <li>
                        <a href="/products/views/partials" class="navlink" data-type="index">Products</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Menu <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="navlink" data-type="menu">Les Menus</a>
                            </li>
                            <li>
                                <a href="#">Les desserts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" class="navlink" data-type="location">Location</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="pageContainer">
        <div>
            {{#each prod}}
            <div class="row">
                <div class="col-md-12">
                    <h3>{{_id}}</h3>
                    <h3>{{name}}</h3>
                    <h3>{{productImage}}</h3>
                    <div class="img">
                        <img src="{{productImage}}" alt="">
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="footer" class="container" style="margin-left:-15px;">
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner navbar-content-center">
                <p class="text-muted" style="text-align:center;margin-top: 10px;font-style:italic;"> by <a
                        href="https://github.com/hamada-j">Hamada</a>
                    .</p>
            </div>
        </nav>
    </div>
</body>

</html>