<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2>Admin Area of JS:IÖ</h2>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/JS_IÖ.png" id="icon" alt="User Icon" />
        </div>

        <form action="/admin/forgotPassword/forgot" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control login-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We will send to you email to your Gmail
                    account</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>