<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2>Admin Area of JS.io</h2>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/JS_IÖ.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="/admin/rest" method="POST">
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input type="password" name="password" class="form-control login-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Repit Password</label>
                <input type="password" name="password" class="form-control login-control" id="exampleInputPassword1">
            </div>
            <small id="emailHelp" class="form-text text-muted">You can rest your passwor, Token: expiresIn: "1h"</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>